<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
    </head>
    <body>
        Página principal
        <div data-component="shuffle-carousel">
            
        </div>
    </body>
</html>